@media only screen and (max-width: 991px){
    .item-list-video{
        display: none;
    }
}
@media only screen and (max-width: 767px) {
    .header-about{
        background-position: center center;
        height: 50px;
    }
    .icon-pu{
        width: 25%;
    }
    .button-play {
        width: 100%;
    }
    .video-background{
        height: 300px;
    }
    .text-about{
        margin-top: 0px;
    }
    .video-candidate{
        text-align: center;
        padding: 0px;
    }
    .pu-dream{
        text-align: left;
        padding: 15px;
        font-size: 15px;
    }

}
@media only screen and (max-width: 400px){
    .video-background{
        height: 150px;
    }
}