.header-about{
	background-image: url("../images/backgrounds/header.png");
    height: 100px;
    background-position: center;
}
.video-background{
    width: 100%;
    height: 700px;
    text-align: center;
}
.video-background iframe{
    width: 100%;
    height: 100%;
}
.text-about{
	text-align: center;
	background-color: white;
	border-top: 2px solid #d5cb92;
	border-bottom: 10px solid #d5cb92;
    margin-top: -140px;
	margin-bottom: 45px;
	padding-top: 17px;
	padding-bottom: 25px;
}
.quote-about{
	opacity: 0.2;
	font-size: 55px;
	position: absolute;
	left: 5px;
	top: 6px;
}
.text-about span{
	color: #998c57;
	font-size: 33px;
	font-weight: bold;
}
.text-about p{
	text-align: left;
	margin: 15px 15px 0px;
	line-height: 1.3;
	font-size: 20px;
}
.bigdream img{
    margin-bottom: 40px;
	width: 100%;
}
.background-candidate{
    background-image: url("../images/backgrounds/phuonguyen-background.png");
    width:100%;
    height: 580px;
    background-position: center center;
}
.candidate{
    padding: 0px 50px;
}
.video-candidate{
    background-color: white;
    margin-top: 35px;
    border-bottom: 7px solid #ffbfe2;
    box-shadow: 0px 20px 30px rgba(0,0,0,0.5);
}
.phuong-uyen{
    cursor: pointer;
    width: 100%;
    height: 250px;
    margin-top: 25px;
    margin-bottom: 25px;

}
.icon-pu{
    width: 100px;
    margin-top: 5px;
}
#phuong-uyen{
    font-weight: bold;
    font-size: 22px;
    margin-left: 10px;
    margin-top: 5px;
}
.pu-dream{
    margin-top: 15px;
    font-size: 10px;
    line-height: 1.2;
}
.item-list-video{
    margin-top: 40px;
    text-align: center;
}
.item-list-video span{
    text-align: left;
}
.avartar-candidate{
    width: 92%;
    cursor: pointer;
}
.button-play{
    width: 60px;
    position: absolute;
    top: 100px;
    right: 20px;
    cursor: pointer;
}
.text-about-candidate{
    height: 150px;
    border-bottom: 7px solid #d5cb92;
    width: 92%;
    background-color: white;
    margin: 0px auto 0px;
    padding: 15px;
    line-height: 1.2;
    font-size: 10px;
    color: #a5a5a5;
    text-align: left;
}
.text-about-candidate span{
    color: #09a69d;
    font-size: 15px;
    font-weight: 600;
}
.starers{
    background-image: url("../images/backgrounds/starters.png");
    background-size: 100% 100%;
    height: 670px;
    background-position: center center;
    margin-top: 100px;
}
.title-starters{
    font-weight: bold;
    font-size: 20px;
    position: relative;
    left: 15px;
    color: #998c57;
}
.text-for-skill{
    font-weight: 500;
    font-size: 15px;
    margin-top: 250px;
    padding: 50px;
}
.list-icon-skill{
    text-align: center;
}
.end-for-skill{
    margin-top: 50px;
    margin-bottom: 50px;
}
.starers-image-1{
    position: relative;
    left: 25px;
    margin-bottom: 40px;
    cursor: pointer;
}
.buttons{
    text-align: center;
    margin-bottom: 600px;
}
.wrap-button{
    width: 80%;
    margin: 40px auto 40px;
    border: 3px solid #d2ccb5;
}
.wrap-button button{
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    color: #998c57;
    padding-top: 10px;
    padding-bottom: 10px;
    background: white;
    border: none;
    border-bottom: 3px solid #94864e;
}
.button-question{
    width: 80%;
    margin: 40px auto 0px;
}
.button-question button{
    background-color: #94864e;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
}
.footer-cambridge{
    cursor: pointer;
    height: 100px;
    background-image: url("../images/backgrounds/footer.png");
    background-position: center center;
    clear: both;
}
.popup img{
    width: 100%;
    margin: 0px auto 0px;
}
.popup{
    width: 100%;
    position: absolute;
    background: white;
    border: 1px solid gray;
    z-index: 10000;
    box-shadow: 3px 3px gray;
    text-align: center;

}
#background{
    position: absolute;
    background: gray;
    left: 0px;
    top: 0px;
}